$color-primary-0: #FC4855;	// Main Primary color */
$color-primary-1: #F90012;
$color-primary-2: #FB2333;
$color-primary-3: #FC707A;
$color-primary-4: #FCA8AE;

$color-secondary-1-0: #FFDE49;	// Main Secondary color (1) */
$color-secondary-1-1: #FFD100;
$color-secondary-1-2: #FFD724;
$color-secondary-1-3: #FFE571;
$color-secondary-1-4: #FFEFAA;

$color-secondary-2-0: #6F52DD;	// Main Secondary color (2) */
$color-secondary-2-1: #330FBA;
$color-secondary-2-2: #5533D3;
$color-secondary-2-3: #8770DD;
$color-secondary-2-4: #A99BDD;

$color-complement-0: #5AEC44;	// Main Complement color */
$color-complement-1: #1DD800;
$color-complement-2: #3BE720;
$color-complement-3: #7AEC68;
$color-complement-4: #A8EC9D;
