@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#app {
    font-family: 'Ubuntu', sans-serif;
}

.main-body {
    width: 70%;
    height: 800px;
    background-color: #e8e8e8;
}

.card-wrapper {
    width: 100%;
}

.cardsection-wrapper {
    border: 1px solid #e8e8e8;
    padding: 10px;
    

    h3 {
        font-size: 1.1rem;
        text-align: left;
    }
}

.input-section {
    padding: 10px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    // margin-bottom: 20px;
    text-align: left;
}

.button-text {
    font-size: 0.6rem;
}

.button-orange {
    background-color: #e6ae4c;
    border: 2px solid #dc8c00;
    color: #fff;
}
